<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>www.learnzy.com.np</title>
    {% load static  %}
    <link rel="stylesheet" href="{% static '/style.css' %}" type="text/css">
    <script src="{% static '/script.css' %}" type="text/javascript">
    </script>
</head>
<body>

        <nav>

            <label class="logo">Learnzy</label>
            <ul>
                  <li ><a class="active" href="home.html">Home</a></li>
                  <li><a href="home.html">Java</a></li>
                  <li><a href="home.html">C Program</a></li>
                  <li><a href="home.html">Python</a></li>
                  <li><a href="home.html">C#</a></li>
                  <li><a href="home.html">HTML</a></li>
                  <li><a href="home.html">JavaScript</a></li>
            </ul>
        </nav>

<footer>
    <p>Full Copyright Reverved @ Programming Hub </p>
    <h2 class="developer">
      <h3>Deploved By</h3>
        <h1>Er.Pritam Thing</h1>
    </h2>
</footer>
</body>
</html>